*{
    padding: auto;
    margin: auto;
    overflow: hidden;
}


.principal{
    padding: 100%;
    margin: 0;
    color: white;
}

#Net{
    width: 100%;
    left: 0;
    top: 0px;
    position: absolute;
}


#netflix{
    width: 200px;
    position: fixed;
    left: 70px;
    top: 0px;
}


